*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 20, 20);
    height: 100vh;
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-rows: 1fr 1fr 0.6fr 1.35fr;
    grid-template-columns: 1fr 1fr 0.7fr 1fr 1fr;
}

.first{
    grid-row: 1/3;
    background-color: rgb(255, 59, 59);
}

.second{
    grid-column: 2/4;
    background-color: rgb(93, 190, 255);
}

.third{
    grid-column: 4/6;
    background-color: rgb(211, 166, 82);
}

.fourth{
    grid-row: 2/4;
    background-color: rgb(211, 166, 82);
}

.fifth{
    grid-row: 2/4;
    grid-column: 3/5;
    background-color: rgb(255, 247, 233);
}

.sixth{
    grid-row: 2/5;
    grid-column: 5/6;
    background-color: rgb(255, 59, 59);
}

.seventh{
    grid-row: 3/5;
    background-color: rgb(255, 247, 233);
}

.eighth{
    grid-row: 4/5;
    grid-column: 2/4;
    background-color: rgb(255, 59, 59);
}

.ninth{
    grid-row: 4/5;
    background-color: rgb(93, 190, 255);
}
